*{
	margin: 0;
	padding: 0;
	font-family: century gothic;

}
 body {
 	 background-image:  url("imge.jpg");
 	 background-size: cover;
 	 background-repeat: no-repeat;
 	 height: 100vh;
 	 background-position: center;

 }
.main ul{
    display: inline-flex;
    list-style: none;
}
.main ul li{
    width: 130px;
    margin: 5px 2px 5px 3px;
    padding: 0px;
}
.main ul li a{
    text-decoration: none;
    color: white;
}
.main ul li:hover{
    background-color: darkolivegreen;
    border-radius: 200px;
}
.main {
	max-width: 1100px;
	margin-left: 150px;
    margin-top: 10px;
    text-align: center;
    background-color: olive;
}
.main .fa{
    margin-right: 10px;
}
.sub-menu-1{
    display: none;
}
.main ul li:hover .sub-menu-1{
    display: inline-flex;
    position: absolute;
    background: olive;
    margin-top: 18px;
    margin-left: 15px;

}
.main ul li:hover .sub-menu-1 ul{
    display: inline-block;
    margin: 10px;
}
.main ul li:hover .sub-menu-1 ul li{
    width: 130px;
    padding: 10px;
    border-bottom: 1px dotted black;
    border-radius: 0px;
    text-align: left;
    background: transparent;
}
.main ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.main ul li:hover .sub-menu-1 ul li a:hover{
    color: black;
}
.logo1 img {
	float: left;
	width: 90px;
	height: auto;
}

.title{
	position: absolute;
	top: 65%;
	left:50%;
	transform:translate(-50%,-50%);
}
.title h1 {
 color: #000;
 font-size: 70px; 
}
 .button {
 	position: absolute;
	top: 75%;
	left:50%;
	transform:translate(-50%,-50%);
 }
 .btn {
 	border:2px #000;
 	padding: 10px 30px;
 	color: black;
 	text-decoration: none;
 }
 .btn:hover {
 	color: darkblue;
 }
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  top: 60%;
  border: 3px solid black;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: olivedrab;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.wrap{
  width: 30%;
  position:absolute; 
  top: 55%;
  left: 51%;
  transform: translate(-50%, -50%);
}